tr {
  background-color: #fff;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}
thead tr {
  background-color: teal;
  color: #fff;
}

thead td {
  padding: 10px;
}
