.friend-list .item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-right: 70px;
  box-shadow: 12px 6px 10px 5px rgba(34, 60, 80, 0.33);
}

.item img {
  width: 75px;
}
.status {
  margin-left: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
